@model AirTickets.Models.Plane

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plane</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TailNumber" class="control-label"></label>
                <input asp-for="TailNumber" class="form-control" />
                <span asp-validation-for="TailNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerName" class="control-label"></label>
                <select asp-for="ManufacturerName" class="form-select">
                    <option value="Boeing">Boeing</option>
                    <option value="Airbus">Airbus</option>
                    <option value="Antonov">Antonov</option>
                </select>
                <span asp-validation-for="ManufacturerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelName" class="control-label"></label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsCount" class="control-label"></label>
                <input asp-for="SeatsCount" class="form-control" />
                <span asp-validation-for="SeatsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastInspectionDate" class="control-label"></label>
                <input asp-for="LastInspectionDate" class="form-control" />
                <span asp-validation-for="LastInspectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
